<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="navbar">

        <form action="/new" method="get">
            <button type="submit">New</button>
        </form>

    </div>
    
    <div class="container">
        <% messages.map((item, index) => { %>
            <div class="card">
                <li><strong>Message:</strong> <%= item.text %></li>
                <li><strong>User:</strong> <%= item.user %></li>
                <li><strong>Date:</strong> <%= item.added.toLocaleString() %></li>

                <form action="/close-up/<%= index %>" method="get">
                    <button type="submit">Open</button>
                </form>
            </div>
        <% }) %>
    </div>

</body>
</html>
