body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.card {

    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    font-size: 25px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.card:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.8), 0 0 30px 10px rgba(0, 255, 255, 0.6); /* Neon blue glow */
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    z-index: 1000;
}

.navbar button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: black;
    background-color: #e7e7e7;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
}

.navbar button:hover {
    background-color: #d6d6d6;
}
